.about {
  background-color: red;
  display: flex;
  justify-content: center;
  color: white;
  opacity: 0.9;
  height: 40vh;
  width: 100vw;
  padding-top: 90px;
  text-shadow: 2px 2px 4px black;
}

.about__pic {
  flex: 0.3;
  display: grid;
  justify-content: right;
  padding-top: 50px;
  padding-right: 30px;
}

.about__pic > img {
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
  position: relative;
  left: 0;
}

.about__details {
  flex: 0.7;
  padding: 10px;
}

.about__downIcon {
  position: relative;
  bottom: 50px;
}

.about__downIcon .MuiSvgIcon-root {
  color: white !important;
}
