.header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 100;
  width: 100vw;
}

.header__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  padding: 10px;
}

.header__left > p {
  margin-left: 10px;
  font-size: small;
  color: antiquewhite;
  opacity: 0.9;
}

.header__middle {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__middle a {
  color: white;
  opacity: 0.7;
  transition: transform 50ms ease-out;
  text-decoration: none;
}

.header__middle a:hover {
  transform: scale(1.2);
  opacity: 1;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex: 0.3;
}

.header__right a {
  color: white;
  opacity: 0.8;
  margin-right: 10px;
}
