.header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #111;
  z-index: 100;
}

.header__left {
  flex: 0.2;
  display: flex;
  align-items: center;
  padding: 10px;
}

.header__left > p {
  margin-left: 10px;
  font-size: large;
  color: antiquewhite;
  opacity: 0.9;
}

.header__middle {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__middle a {
  color: white;
  opacity: 0.7;
  transition: transform 50ms ease-out;
  text-decoration: none;
}

.header__middle a:hover {
  transform: scale(1.2);
  opacity: 1;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex: 0.2;
}

.header__right a {
  color: white;
  opacity: 0.8;
  margin-right: 10px;
  transition: transform 50ms ease-out;
}

.header__right .MuiSvgIcon-root:hover {
  color: dodgerblue;
  transform: scale(1.2);
}

@media screen and (max-width: 800px) {
  .header__middle a {
    font-size: 16px;
  }
}
